h1{
  text-align: center;
  text-decoration: underline;
}  
.city{
  position: absolute;
  left: 40%;
}
.front{
  background-image: url('./assets/3.jpg');
  background-repeat: no-repeat;
  height:100vh;
 overflow: hidden;
 background-size: cover;

}
